In [1]:
import pandas as pd

In [4]:
imdb_df = pd.read_json("imdb_movies_1985to2022.json", lines=True)

In [6]:
imdb_df.head()

,imdb_id,title,year,runtime,genres,actors,rating
0,tt0035423,Kate & Leopold,2001,118,"[Comedy, Fantasy, Romance]","[[nm0000212, Meg Ryan], [nm0413168, Hugh Jackm...","{'avg': 6.4, 'votes': 85923}"
1,tt0064820,The Plot Against Harry,1989,81,"[Comedy, Crime]","[[nm0697338, Martin Priest], [nm1300519, Ben L...","{'avg': 6.9, 'votes': 344}"
2,tt0068494,Domo Arigato,1990,91,[Drama],"[[nm0792032, Bonnie Sher], [nm0496571, Jason L...","{'avg': 5.1, 'votes': 19}"
3,tt0069049,The Other Side of the Wind,2018,122,[Drama],"[[nm0001379, John Huston], [nm0462648, Oja Kod...","{'avg': 6.7, 'votes': 7545}"
4,tt0071560,Evil Town,1987,82,[Horror],"[[nm0005077, James Keach], [nm0550626, Michele...","{'avg': 3.8, 'votes': 374}"

In [8]:
imdb_df.dtypes

imdb_id    object
title      object
year        int64
runtime    object
genres     object
actors     object
rating     object
dtype: object